:root {
    --chatbot-color-light: #F3F3F3;
    --chatbot-color-dark: #121111;
}

/* status_display */
#status_display {
    display: flex;
    min-height: 2.5em;
    align-items: flex-end;
    justify-content: flex-end;
}

#status_display p {
    font-size: .85em;
    font-family: monospace;
    color: var(--body-text-color-subdued);
}



/* usage_display */
#usage_display {
    height: 1em;
}

#usage_display p {
    padding: 0 1em;
    font-size: .85em;
    font-family: monospace;
    color: var(--body-text-color-subdued);
}

/* list */
ol:not(.options),
ul:not(.options) {
    padding-inline-start: 2em !important;
}

/* Thank @Keldos-Li for fixing it */
/* Light mode (default) */
#inflaton_chatbot {
    background-color: var(--chatbot-color-light) !important;
    color: #000000 !important;
}

[data-testid="bot"] {
    background-color: #FFFFFF !important;
}

[data-testid="user"] {
    background-color: #95EC69 !important;
}

/* Dark mode */
.dark #inflaton_chatbot {
    background-color: var(--chatbot-color-dark) !important;
    color: #FFFFFF !important;
}

.dark [data-testid="bot"] {
    background-color: #2C2C2C !important;
}

.dark [data-testid="user"] {
    background-color: #26B561 !important;
}

#inflaton_chatbot {
    height: 100%;
    min-height: 400px;
}

[class *="message"] {
    border-radius: var(--radius-xl) !important;
    border: none;
    padding: var(--spacing-xl) !important;
    font-size: var(--text-md) !important;
    line-height: var(--line-md) !important;
    min-height: calc(var(--text-md)*var(--line-md) + 2*var(--spacing-xl));
    min-width: calc(var(--text-md)*var(--line-md) + 2*var(--spacing-xl));
}

[data-testid="bot"] {
    max-width: 85%;
    border-bottom-left-radius: 0 !important;
}

[data-testid="user"] {
    max-width: 85%;
    width: auto !important;
    border-bottom-right-radius: 0 !important;
}

/* Table */
table {
    margin: 1em 0;
    border-collapse: collapse;
    empty-cells: show;
}

td,
th {
    border: 1.2px solid var(--border-color-primary) !important;
    padding: 0.2em;
}

thead {
    background-color: rgba(175, 184, 193, 0.2);
}

thead th {
    padding: .5em .2em;
}

/* Inline code */
#inflaton_chatbot code {
    display: inline;
    white-space: break-spaces;
    border-radius: 6px;
    margin: 0 2px 0 2px;
    padding: .2em .4em .1em .4em;
    background-color: rgba(175, 184, 193, 0.2);
}

/* Code block */
#inflaton_chatbot pre code {
    display: block;
    overflow: auto;
    white-space: pre;
    background-color: hsla(0, 0%, 0%, 80%) !important;
    border-radius: 10px;
    padding: 1.4em 1.2em 0em 1.4em;
    margin: 1.2em 2em 1.2em 0.5em;
    color: #FFF;
    box-shadow: 6px 6px 16px hsla(0, 0%, 0%, 0.2);
}

/* Hightlight */
#inflaton_chatbot .highlight {
    background-color: transparent
}

#inflaton_chatbot .highlight .hll {
    background-color: #49483e
}

#inflaton_chatbot .highlight .c {
    color: #75715e
}

/* Comment */
#inflaton_chatbot .highlight .err {
    color: #960050;
    background-color: #1e0010
}

/* Error */
#inflaton_chatbot .highlight .k {
    color: #66d9ef
}

/* Keyword */
#inflaton_chatbot .highlight .l {
    color: #ae81ff
}

/* Literal */
#inflaton_chatbot .highlight .n {
    color: #f8f8f2
}

/* Name */
#inflaton_chatbot .highlight .o {
    color: #f92672
}

/* Operator */
#inflaton_chatbot .highlight .p {
    color: #f8f8f2
}

/* Punctuation */
#inflaton_chatbot .highlight .ch {
    color: #75715e
}

/* Comment.Hashbang */
#inflaton_chatbot .highlight .cm {
    color: #75715e
}

/* Comment.Multiline */
#inflaton_chatbot .highlight .cp {
    color: #75715e
}

/* Comment.Preproc */
#inflaton_chatbot .highlight .cpf {
    color: #75715e
}

/* Comment.PreprocFile */
#inflaton_chatbot .highlight .c1 {
    color: #75715e
}

/* Comment.Single */
#inflaton_chatbot .highlight .cs {
    color: #75715e
}

/* Comment.Special */
#inflaton_chatbot .highlight .gd {
    color: #f92672
}

/* Generic.Deleted */
#inflaton_chatbot .highlight .ge {
    font-style: italic
}

/* Generic.Emph */
#inflaton_chatbot .highlight .gi {
    color: #a6e22e
}

/* Generic.Inserted */
#inflaton_chatbot .highlight .gs {
    font-weight: bold
}

/* Generic.Strong */
#inflaton_chatbot .highlight .gu {
    color: #75715e
}

/* Generic.Subheading */
#inflaton_chatbot .highlight .kc {
    color: #66d9ef
}

/* Keyword.Constant */
#inflaton_chatbot .highlight .kd {
    color: #66d9ef
}

/* Keyword.Declaration */
#inflaton_chatbot .highlight .kn {
    color: #f92672
}

/* Keyword.Namespace */
#inflaton_chatbot .highlight .kp {
    color: #66d9ef
}

/* Keyword.Pseudo */
#inflaton_chatbot .highlight .kr {
    color: #66d9ef
}

/* Keyword.Reserved */
#inflaton_chatbot .highlight .kt {
    color: #66d9ef
}

/* Keyword.Type */
#inflaton_chatbot .highlight .ld {
    color: #e6db74
}

/* Literal.Date */
#inflaton_chatbot .highlight .m {
    color: #ae81ff
}

/* Literal.Number */
#inflaton_chatbot .highlight .s {
    color: #e6db74
}

/* Literal.String */
#inflaton_chatbot .highlight .na {
    color: #a6e22e
}

/* Name.Attribute */
#inflaton_chatbot .highlight .nb {
    color: #f8f8f2
}

/* Name.Builtin */
#inflaton_chatbot .highlight .nc {
    color: #a6e22e
}

/* Name.Class */
#inflaton_chatbot .highlight .no {
    color: #66d9ef
}

/* Name.Constant */
#inflaton_chatbot .highlight .nd {
    color: #a6e22e
}

/* Name.Decorator */
#inflaton_chatbot .highlight .ni {
    color: #f8f8f2
}

/* Name.Entity */
#inflaton_chatbot .highlight .ne {
    color: #a6e22e
}

/* Name.Exception */
#inflaton_chatbot .highlight .nf {
    color: #a6e22e
}

/* Name.Function */
#inflaton_chatbot .highlight .nl {
    color: #f8f8f2
}

/* Name.Label */
#inflaton_chatbot .highlight .nn {
    color: #f8f8f2
}

/* Name.Namespace */
#inflaton_chatbot .highlight .nx {
    color: #a6e22e
}

/* Name.Other */
#inflaton_chatbot .highlight .py {
    color: #f8f8f2
}

/* Name.Property */
#inflaton_chatbot .highlight .nt {
    color: #f92672
}

/* Name.Tag */
#inflaton_chatbot .highlight .nv {
    color: #f8f8f2
}

/* Name.Variable */
#inflaton_chatbot .highlight .ow {
    color: #f92672
}

/* Operator.Word */
#inflaton_chatbot .highlight .w {
    color: #f8f8f2
}

/* Text.Whitespace */
#inflaton_chatbot .highlight .mb {
    color: #ae81ff
}

/* Literal.Number.Bin */
#inflaton_chatbot .highlight .mf {
    color: #ae81ff
}

/* Literal.Number.Float */
#inflaton_chatbot .highlight .mh {
    color: #ae81ff
}

/* Literal.Number.Hex */
#inflaton_chatbot .highlight .mi {
    color: #ae81ff
}

/* Literal.Number.Integer */
#inflaton_chatbot .highlight .mo {
    color: #ae81ff
}

/* Literal.Number.Oct */
#inflaton_chatbot .highlight .sa {
    color: #e6db74
}

/* Literal.String.Affix */
#inflaton_chatbot .highlight .sb {
    color: #e6db74
}

/* Literal.String.Backtick */
#inflaton_chatbot .highlight .sc {
    color: #e6db74
}

/* Literal.String.Char */
#inflaton_chatbot .highlight .dl {
    color: #e6db74
}

/* Literal.String.Delimiter */
#inflaton_chatbot .highlight .sd {
    color: #e6db74
}

/* Literal.String.Doc */
#inflaton_chatbot .highlight .s2 {
    color: #e6db74
}

/* Literal.String.Double */
#inflaton_chatbot .highlight .se {
    color: #ae81ff
}

/* Literal.String.Escape */
#inflaton_chatbot .highlight .sh {
    color: #e6db74
}

/* Literal.String.Heredoc */
#inflaton_chatbot .highlight .si {
    color: #e6db74
}

/* Literal.String.Interpol */
#inflaton_chatbot .highlight .sx {
    color: #e6db74
}

/* Literal.String.Other */
#inflaton_chatbot .highlight .sr {
    color: #e6db74
}

/* Literal.String.Regex */
#inflaton_chatbot .highlight .s1 {
    color: #e6db74
}

/* Literal.String.Single */
#inflaton_chatbot .highlight .ss {
    color: #e6db74
}

/* Literal.String.Symbol */
#inflaton_chatbot .highlight .bp {
    color: #f8f8f2
}

/* Name.Builtin.Pseudo */
#inflaton_chatbot .highlight .fm {
    color: #a6e22e
}

/* Name.Function.Magic */
#inflaton_chatbot .highlight .vc {
    color: #f8f8f2
}

/* Name.Variable.Class */
#inflaton_chatbot .highlight .vg {
    color: #f8f8f2
}

/* Name.Variable.Global */
#inflaton_chatbot .highlight .vi {
    color: #f8f8f2
}

/* Name.Variable.Instance */
#inflaton_chatbot .highlight .vm {
    color: #f8f8f2
}

/* Name.Variable.Magic */
#inflaton_chatbot .highlight .il {
    color: #ae81ff
}

/* Literal.Number.Integer.Long */